# Qt

*.user

*.pro.user.*

.qmake.stash



# Build

Makefile

*.o



# Binary

yolo



# Dataset

captures/

captures.zip

img_test/

img_10auto/



# Models (оставь если модели общие и не хочешь хранить на GitHub)

# model/



# Qt build files

moc_*

ui_*

qrc_*
